---
interface Props {
  href?: string;
}

const { href } = Astro.props;
---

<a href={href} target="_blank">
  <slot />
</a>

<style>
  a {
    font-size: 1.25rem /* 20px */;
    line-height: 1.75rem /* 28px */;
    max-height: 50px;
    padding-left: 1.25rem /* 20px */;
    padding-right: 1.25rem /* 20px */;
    padding-top: 0.5rem /* 8px */;
    padding-bottom: 0.5rem /* 8px */;
    border-width: 1px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 100ms;
    border-radius: 0.5rem /* 8px */;

    color: var(--orange-1);
    border-color: var(--orange-1);
    background-color: var(--orange-9);
  }

  a:hover {
    color: var(--orange-9);
    border-color: var(--orange-9);
    background-color: var(--gray-3);
  }
</style>
